@charset "UTF-8";
:root {
  --primary: #00bfa5;
  --songs-in-row: 4;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, serif;
  box-sizing: border-box;
}

body {
  margin-top: 60px;
  background-color: #34343f;
}

nav {
  display: flex;
  padding: 0 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #1b1b1b;
  color: #fff;
  justify-content: space-between;
}
nav .title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
nav .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  list-style-type: none;
}
nav .menu li {
  padding: 0 10px;
  cursor: pointer;
}
nav .menu li a {
  transition: color 0.2s ease-in-out;
  color: #fff;
  text-decoration: none;
}
nav .menu li:hover a, nav .menu li.active a {
  color: var(--primary);
}

.container {
  display: block;
  margin: 0 auto;
  width: 1000px;
  max-width: calc(100% - 20px);
  min-height: calc(100vh - 60px);
}

.page {
  margin-top: 80px;
  margin-bottom: 20px;
}

.page[data-page=playlist] .playlist {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
}
.page[data-page=playlist] .playlist > * {
  box-shadow: 0 0 6px 0 #1b1b1b;
  border-radius: 5px;
}
.page[data-page=playlist] .playlist .playlist-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background-color: #2e2e38;
  padding: 10px;
}
.page[data-page=playlist] .playlist .playlist-info .playlist-title {
  font-size: 20px;
  color: #fff;
}
.page[data-page=playlist] .playlist .playlist-info .playlist-author {
  color: #b9b9b9;
}
.page[data-page=playlist] .playlist .playlist-info .playlist-details {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: center;
  justify-content: center;
  font-size: 14px;
  margin-top: 10px;
  width: 100%;
  line-height: 25px;
  color: var(--primary);
}
.page[data-page=playlist] .playlist .playlist-info .playlist-details > *:not(:last-child):after {
  display: inline-block;
  content: "•";
  margin: 0 6px;
  font-size: 15px;
  font-weight: bold;
}
.page[data-page=playlist] .playlist .content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.page[data-page=playlist] .playlist .content .song {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 10px;
  border-top: 1px solid #1b1b1b;
  cursor: pointer;
}
.page[data-page=playlist] .playlist .content .song .left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  text-align: left;
}
.page[data-page=playlist] .playlist .content .song .left .name {
  font-weight: bold;
  font-size: 17px;
  color: #fff;
}
.page[data-page=playlist] .playlist .content .song .left .artist {
  font-size: 14px;
  color: #b9b9b9;
}
.page[data-page=playlist] .playlist .content .song .right {
  line-height: 40px;
  color: #b9b9b9;
}
.page[data-page=playlist] .playlist .content .song:hover {
  background-color: #434352;
}
.page[data-page=playlist] .playlist .content .song:hover .left .name {
  color: var(--primary);
}
.page[data-page=playlist] .playlist .genres {
  width: 30%;
  position: sticky;
  top: 80px;
  overflow: hidden;
}
.page[data-page=playlist] .playlist .genres .list {
  list-style-type: none;
}
.page[data-page=playlist] .playlist .genres .list li {
  border-top: 1px solid #1b1b1b;
  padding: 10px;
  font-size: 18px;
  color: #b9b9b9;
  cursor: pointer;
  transition: all 0.05s ease-in-out;
}
.page[data-page=playlist] .playlist .genres .list li:hover {
  color: var(--primary);
  background-color: #434352;
}

/*# sourceMappingURL=playlist.css.map */
