@import "global";

.page[data-page="songs"] {

  .songs {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;

    & > *{
      box-shadow: 0 0 6px 0 #1b1b1b;
      border-radius: 5px;
    }

    .title {
      display: block;
      width: 100%;
      font-size: 20px;
      color: #fff;
      padding: 15px;
      background-color: #2e2e38;

      //text-align: center;
    }

    .content {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      width: 100%;

      .song {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        //justify-content: space-between;
        width: 100%;
        height: 70px;
        padding: 10px;
        border-top: 1px solid #1b1b1b;
        cursor: pointer;

        .picture{
          width: 70px;
          height: 100%;

          img{
            height: 100%;
            border-radius: 3px;
          }
        }

        .left {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          height: 100%;
          width: 100%;
          text-align: left;

          .name {
            font-weight: bold;
            font-size: 17px;
            color: #fff;
          }

          .artist {
            font-size: 14px;
            color: #b9b9b9;
          }
        }

        .right {
          line-height: 50px;
          color: #b9b9b9;
        }

        &:hover{
          background-color: #434352;

          .left .name{
            color: var(--primary);
          }
        }

        //border-radius: 10px;
        //box-shadow: 0 0 10px rgba(0, 0, 0, .2);
      }
    }

    .genres{
      width: 30%;
      position: sticky;
      top: 80px;
      overflow: hidden;

      .list{
        list-style-type: none;

        li{
          border-top: 1px solid #1b1b1b;
          padding: 10px;
          font-size: 18px;
          color: #b9b9b9;
          cursor: pointer;
          transition: all .05s ease-in-out;

          &:hover{
            color: var(--primary);
            background-color: #434352;
          }
        }
      }
    }
  }

}