@import "global";

.page[data-page="user"] {

  .playlists {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;

    & > * {
      box-shadow: 0 0 6px 0 #1b1b1b;
      border-radius: 5px;
    }

    .title {
      display: block;
      width: 100%;
      font-size: 20px;
      color: #fff;
      padding: 15px;
      background-color: #2e2e38;
    }

    .search-box {
      width: 100%;

      form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        input {
          width: calc(100% - 51px);
          background-color: transparent;
          padding: 15px;
          outline: none;
          color: #fff;
          font-size: 18px;

          & ~ .anim{
            display: block;
            width: 100%;
            height: 2px;
            background-color: #34343f;

            &:after{
              content: '';
              display: block;
              height: 2px;
              width: 100%;
              max-width: 0px;
              transition: max-width .3s ease-in-out;
              background-color: var(--primary);
            }
          }

          &:focus ~ .anim:after{
            content: '';
            max-width: 100%;
          }
        }

        button{
          background-color: transparent;
          padding: 0 10px;
          cursor: pointer;
          transition: background-color .2s ease-in-out;
          width: 51px;
          height: 51px;

          svg{
            fill: var(--primary);
            transition: fill .2s ease-in-out;
          }

          &:hover{
            background-color: var(--primary);

            svg{
              fill: #fff;
            }
          }


        }
      }
    }

    .content {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      width: 100%;

      .playlist {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        height: 70px;
        padding: 10px;
        border-top: 1px solid #1b1b1b;
        cursor: pointer;

        .picture{
          width: 70px;
          height: 100%;

          img{
            height: 100%;
            border-radius: 3px;
          }
        }

        .left {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          height: 100%;
          width: 100%;
          text-align: left;

          .name {
            font-weight: bold;
            font-size: 17px;
            color: #fff;
          }

          .creator {
            font-size: 14px;
            color: #b9b9b9;
          }
        }

        .right {
          line-height: 50px;
          color: #b9b9b9;
        }

        &:hover {
          background-color: #434352;

          .left .name {
            color: var(--primary);
          }
        }

        //border-radius: 10px;
        //box-shadow: 0 0 10px rgba(0, 0, 0, .2);
      }
    }

    .toolbox {
      width: 30%;
      position: sticky;
      top: 80px;
      overflow: hidden;

      .list {
        list-style-type: none;

        li {
          border-top: 1px solid #1b1b1b;
          padding: 10px;
          font-size: 18px;
          color: #b9b9b9;
          cursor: pointer;
          transition: all .05s ease-in-out;

          &.text-red{
            color: indianred;
          }

          &:not(.inactive):hover {
            color: var(--primary);
            background-color: #434352;

            &.text-red{
              color: #b9b9b9;
              background-color: indianred;
            }
          }
        }
      }
    }
  }

  .modal-container{
    display: block;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;

    width: 100vw;
    height: 100vh;

    .background-dimm{
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.5);
    }

    .modal{
      --width: 400px;
      --height: 230px;
      position: absolute;
      top: calc((100vh - var(--height)) / 2);
      left: calc((100vw - var(--width)) / 2);
      width: var(--width);
      height: var(--height);
      background-color: #34343f;
      box-shadow: 0 0 10px 0 #3a3a3a;
      border-radius: 10px;
      padding: 20px;

      .title{
        font-size: 20px;
        color: #fff;
        margin-bottom: 25px;
        text-align: center;
      }

      .form-button{
        width: 100px;
        margin: 0 auto;
      }
    }
  }
}