form {
  .form-group {
    display: block;
    position: relative;

    &.flex-group {
      display: flex;
      justify-content: space-between;
    }

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    label, input, select {
      width: 100%;
      font-size: 18px;
      color: #fff;
    }

    label {
      display: block;
      position: absolute;
      width: 100%;
      height: 38px;
      line-height: 38px;
      margin-bottom: 5px;
      pointer-events: none;
      top: 2px;
      left: 10px;
      font-size: 18px;
      //transform: translate(10px, -32px);
      color: #b9b9b9;
      transition: top .2s ease-in-out,
      left .2s ease-in-out,
      color .2s ease-in-out,
      font-size .2s ease-in-out;
    }

    input, select {
      background-color: transparent;
      padding: 10px;
      border: 1px solid var(--primary);
      border-radius: 5px;
      outline: none;
      &:focus + label,
      &:not(:placeholder-shown) + label {
        top: -30px;
        left: 0;
        font-size: 14px;
        color: var(--primary)
      }
    }

    .form-button{
      display: inline-block;
      background-color: transparent;
      cursor: pointer;
      color: #fff;

      &:not(.flat) {
        display: block;
        border: 2px solid var(--primary);
        font-size: 18px;
        padding: 5px 20px;
        border-radius: 5px;
        color: var(--primary);
        cursor: pointer;
        transition: background-color .15s ease-in-out,
        color .15s ease-in-out;

        &:hover {
          background-color: var(--primary);
          color: #fff;
        }
      }

      &.flat {
        transition: color .15s ease-in-out;
        line-height: 35px;

        &:hover {
          color: var(--primary);
        }
      }
    }
  }
}
